.container_active {
    padding: 8px 12px;
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 8px;
    justify-items: center;
    align-items: center;

    height: 36px;

    background: #FFFFFF;
    border: 1px solid #E2E3E5;
    border-radius: 5px;
}

.container {
    padding: 8px 12px;
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 8px;
    justify-items: center;
    align-items: center;

    height: 36px;
    
    border-radius: 5px;
}

.text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;


    color: #4D5562;
}

.image_wrapper {
    width: 16px;
    height: 20px;
}