.container {
    box-sizing: border-box;

    width: 243px;
    height: 448px;

    border: 2px dashed #C4C4C4;
    border-radius: 6px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.box {
    margin: auto;
    display: grid;
    grid-gap: 12px;
}

.image_wrapper {
    margin: auto;
    width: 20px;
    height: 20px;
}

.text {
    display: grid;
    grid-gap: 4px;
}

.title {
    margin: auto;
    width: 127px;
    height: 17px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    text-align: center;

    color: #5D5FEF;
}

.title2 {
    margin: auto;
    width: 106px;
    height: 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #6B7280;
}