.container {
    min-width: 100vw;
    min-height: 100vh;
    background: #E5E5E5;
    color: #000000;
    display: grid;
    align-items: center;
    justify-items: center;
    font-family: 'Roboto'sans-serif;
}

.box {
    width: 700px;
    height: 640px;
    background: #ffffff;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.tumbler{
    background-color: red;
}

.calculator{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: blue;
}