.container {
    min-width: 100vw;
    min-height: 100vh;
    background: #E5E5E5;
    color: #000000;
    display: grid;
    align-items: center;
    justify-items: center;
    font-family: 'Roboto'sans-serif;
}

.box {
    width: 600px;
    height: 600px;
    background: #ffffff;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.tumbler {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.calculator {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}